.navbar{
  border-bottom: orange 3px solid;
  opacity: 0.8; 
}
.carousel-item {
  height: 100vh;  
}
.carousel-item img {
  object-fit: cover; 
  height: 100%; 
  width: 100%; 
}
.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;}
.content{
  padding-top: 100px;
}
.lorem{
  padding-top: 1px !important;
}
.lorem1{
  padding-top: 23px;
}
.fasfan,.full,.titulli,.about{
  color: orange;
}
.shadow1{
  background-color:#f2f2f2;  
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); 
  padding-top: 100px;
  padding-bottom: 30px; 
  border-radius: 20px;
}
.foto{
  width: 20%;
  margin-left:20px ;
}
.butonii{
  background-color: orange;
}
.btn-secondary {
  color: #ffffff !important; 
  background-color: #ff7f00 !important; 
  border-color: #ff7f00 !important; 
}
.btn-secondary:hover {
  color: #ffffff !important; 
  background-color: #ff5e00 !important; 
  border-color: #ff5e00 !important;
}
.team-item {
  height: 100%; 
}
.team-item .rounded-circle {
  width: 200px; 
  height: 200px; 
  margin: 0 auto 15px; 
}
.team-item h5 {
  margin-top: 35px; 
}
.team-item .d-flex {
  justify-content: space-around; 
}
#butoni{
  width: 30%;
}
.fotoja{
  width: 100%;
}
.footeri{
 color:black;
 width: 80%;
 margin: auto;
}
#photoContainer {
  display: none;
}
.text-orange{
  color: orange;
}
